.qr-img {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 43px -20px rgba(0,0,0,0.93);
}

.text-container {
    padding: 20px;
    color: hsl(218, 44%, 22%);
    font-size: 12px;
}

.text-container p {

    width: 250px;
    font-size: 14px;
    color: hsl(214, 12%, 66%);
}